<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <style>
      header {
        height: 15vh;
        background-color: #ffaa60;
      }

      .plus {
        font-size: 3rem;
        width: 2rem;
        height: 2rem;
      }

      a {
        text-decoration: none;
        color: black;
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: 1px solid #e4e4e7;
        padding: 0.3rem;
        border-radius: 5px;
        font-size: 1.1rem;
      }
      .links {
        display: flex;
        gap: 1rem;
        padding: 1rem;
      }

      .logout {
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="links">
        <% if (!membership) { %>
        <a href="/membership">
          <img class="plus" src="icons/account-plus.svg" alt="" />
          Become a member
        </a>
        <% } %>

        <a href="/new-message"
          ><img class="plus" src="icons/chat-plus.svg" alt="" /> Create new
          message</a
        >

        <a class="logout" href="/logout">Logout</a>
      </div>
    </header>
  </body>
</html>
