<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <style>
      header {
        height: 20vh;
        background-color: #ffaa60;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="">Become member</a>
      <a href="">Create new message</a>
    </header>
  </body>
</html>
